<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>bunq2IFTTT</title>
        <style>
            .row {
                padding-top: 15px;
                padding-bottom: 15px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <img src="/static/bunq2ifttt.png" class="img-fluid" alt="bunq2IFTTT">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {% if oauth_expiry %}
                    <a href="/bunq_oauth_reauthorize" class="btn btn-primary">Reauthorize</a>
                    Current expiration: {{ oauth_expiry }}
                    <br><br>
                    {% endif %}
                    <b>Accounts configured for actions:</b> [<a href="/update_accounts">update</a>]<br>
                    {% if accounts %}
                    {% for acc in accounts %}{{ acc.iban }} {{ acc.description }}<br>
                    <table>
                    <tr><td>- Internal payment action:</td><td>
                      {% if acc.perms.Internal %}enabled{% else %}disabled{% endif %}
                      [<a href="/account_change_permission?permission=Internal&iban={{ acc.iban }}&value={% if acc.perms.Internal %}false{% else %}true{% endif %}">change</a>]
                    </td></tr>
                    <tr><td>- Draft payment action:</td><td>
                      {% if acc.perms.Draft %}enabled{% else %}disabled{% endif %}
                      [<a href="/account_change_permission?permission=Draft&iban={{ acc.iban }}&value={% if acc.perms.Draft %}false{% else %}true{% endif %}">change</a>]
                    </td></tr>
                    <tr><td>- External payment action:</td><td>
                      {% if enableexternal %}
                      {% if acc.perms.External %}enabled{% else %}disabled{% endif %}
                      [<a href="/account_change_permission?permission=External&iban={{ acc.iban }}&value={% if acc.perms.External %}false{% else %}true{% endif %}">change</a>]
                      {% else %}
                      [globally disabled]
                      {% endif %}
                    </td></tr>
                    <tr><td>- Change card account action:</td><td>
                      {% if acc.perms.Card %}enabled{% else %}disabled{% endif %}
                      [<a href="/account_change_permission?permission=Card&iban={{ acc.iban }}&value={% if acc.perms.Card %}false{% else %}true{% endif %}">change</a>]
                    </td></tr>
                    <tr><td>- Payment request action:</td><td>
                      {% if acc.perms.PaymentRequest %}enabled{% else %}disabled{% endif %}
                      [<a href="/account_change_permission?permission=PaymentRequest&iban={{ acc.iban }}&value={% if acc.perms.Card %}false{% else %}true{% endif %}">change</a>]
                    </td></tr>
                    <tr><td>- Mutation/Balance triggers:</td><td>
                      {% if acc.perms.Mutation %}enabled{% else %}disabled{% endif %}
                      [<a href="/account_change_permission?permission=Mutation&iban={{ acc.iban }}&value={% if acc.perms.Mutation %}false{% else %}true{% endif %}">change</a>]
                    </td></tr>
                    <tr><td>- Request trigger:</td><td>
                      {% if acc.perms.Request %}enabled{% else %}disabled{% endif %}
                      [<a href="/account_change_permission?permission=Request&iban={{ acc.iban }}&value={% if acc.perms.Request %}false{% else %}true{% endif %}">change</a>]
                    </td></tr>
                    </table>
                    {% endfor %}
                    {% endif %}
                    <br>
                    <form action="/set_ifttt_service_key" method="post">
                        <div class="form-group">
                            <label for="iftttkey">IFTTT Service key: ({% if iftttkeyset %}already set{% else %}not yet set{% endif %})</label>
                            <input type="text" class="form-control" name="iftttkey" id="iftttkey" placeholder="Enter the IFTTT service key here...">
                        </div>
                        <button type="submit" class="btn btn-primary">{% if iftttkeyset %}Update{% else %}Submit{% endif %}</button>
                    </form>
                    <br>
                    <form action="/set_bunq_oauth_api_key" method="post">
                        <div class="form-group">
                            <label for="bunqkey">Bunq OAuth or API key: ({% if bunqkeymode %}Current security level: {{ bunqkeymode }}{% else %}not yet set{% endif %})</label>
                            <textarea class="form-control" name="bunqkey" id="bunqkey" placeholder="Enter the bunq OAuth client id/secret or API key here..." rows="2"></textarea>
                        </div>
                        {% if defaultallips %}
                        <input type="hidden" name="allips" id="allips" value="on">
                        {% else %}
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" name="allips" id="allips">
                            <label class="form-check-label" for="allips">Use wildcard ip address (LESS SECURE, only use this if you do not have a fixed ip address)</label>
                        </div>
                        {% endif %}
                        <button type="submit" class="btn btn-primary">{% if bunqkeymode %}Update{% else %}Submit{% endif %}</button>
                    </form>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>